
.contentConfig {
    margin-left: 240px;
    padding: 20px;
    width: calc(100% - 240px);
    display: flex;
    justify-content: center;
}
.containerConfig {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
    
  }

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.actions button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
}
.actions button:hover {
    background-color: #218838;
}
.actions button:last-child {
    margin-right: 0;
    background-color: #17a2b8;
}
.actions button:last-child:hover {
    background-color: #138496;
}