
.h1 {
    margin-left: 120px
}

contentConfig {
    margin-left: 120px;
    padding: 20px;
    width: calc(100% - 100px);
    display: flex;
    justify-content: center;
}

.containerConfig {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

