.sidebar-link {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Asegura que los ítems dentro del link estén alineados desde el inicio */
  padding: 15px 20px;
  width: 100%; /* Asegura que el link ocupe todo el espacio horizontal disponible */
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.sidebar-link:hover {
  background-color: #ddd;
  width: 100%; /* Esto asegurará que el hover ocupe todo el ancho del contenedor */
}

.logout-button {
  margin: 0px 0px 0px 0px; /* Asegura consistencia en el padding */
}
.logout-button:hover {
  background-color: #ddd; /* Color de fondo al hacer hover*/
}

.notification-badge {
  background-color: #017bff;
  color: white;
  font-size: 0.8em;
  padding: 0.2em 0.6em;
  border-radius: 50%;
  margin-left: 8px;
}