body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container-import {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centra el contenido verticalmente */
    padding: 20px;
    background-color: #ffffff;
    width: 100%; /* 100% del ancho de la ventana */
    box-sizing: border-box; /* Incluye padding en el cálculo del tamaño */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: auto;
    margin-top: 40px;

}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

input[type="file"] {
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.button-group {
    margin-bottom: 20px;
}

.button-group button {
    margin: 0 10px;
}

.button-group button.active {
    background-color: #0056b3;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.data-table-container {
    width: 100%;
}

.total-registros {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: center; /* Alinea los elementos verticalmente al centro */
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.total-registros .box {
    padding: 8px;
    background-color: #0056b3; /* Cambia el color de fondo si deseas */
    border-radius: 5px;
    margin-right: 10px; /* Agrega un margen derecho para separar las cajas */
}

.total-registros .box:last-child {
    margin-right: 0; /* Quita el margen derecho del último elemento */
}