
.container-import {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    max-width: 400px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .heading-import {
    margin-bottom: 20px;
    color: #333;
  }
  
  .form-import {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .input-import {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 100%;
  }
  
  .button-import {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #124559;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease;
  }

  .button-import:hover {
    background-color: #165974;
  }
  
  .message {
    margin-top: 20px;
    color: #d9534f;
  }

  .import-stats {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  
  .import-stats p {
    margin: 0;
    padding: 0 10px;
    font-weight: bold;
  }
  
  .import-stats .total {
    color: black;
  }
  
  .import-stats .validos {
    color: green;
  }
  
  .import-stats .invalidos {
    color: red;
  }