.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd; /* Línea divisoria */
  }
  
  .item h5 {
    margin: 0;
  }
  
  .item .titulo {
    font-weight: bold;
    color: #555; /* Color más oscuro para el título */
  }
  
  .item .valor {
    font-size: 1.2em; /* Tamaño de fuente más grande para el valor */
    color: #333; /* Color más oscuro para el valor */
  }