.login-bg {
  background: linear-gradient(180deg, #01161E, #124559, #81A4B1);
}

.login-card {
  background-color: #ffffff; /* Fondo blanco para el formulario */
  border-radius: 10px; /* Borde suavemente redondeado */
}

.loginLogo {
  width: 100px; /* Tamaño reducido para mejorar la proporción */
}

h3 {
  color: #343a40; /* Color más oscuro para el texto del título */
}