.main-content {
  margin-left: 260px;
  padding: 6px;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  padding: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #dee2e6;
}

.logged-user {
  font-size: 12px;
  font-weight: bold;
  margin-right: 20px;
}

.user-name{
  font-size: 16px;
}

.icono-usuario{
  font-size: 30px;
}

